In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("WV-ashpalt items.csv")

In [3]:
#overusage of 1,7,8,9 in the first test
df1= df.loc[df['firstdigit']==1]
df7= df.loc[df['firstdigit']==7]
df8= df.loc[df['firstdigit']==8]
df9= df.loc[df['firstdigit']==9]

In [4]:
result = [df1, df7, df8, df9]
results = pd.concat(result)

In [5]:
results

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
12,12,1033507,3,1,RESURFACING,90,401007-020,BB1,"MARSHALL SCRATCH CRSE, SG, TY I",1165.0,TN,W & L CONSTRUCTION AND PAVING INC.,54-1069645,89.5,104267.5,2011,JEFFERSON,1,0,10
21,21,1021601,4,1,ROADWAY,167,401002-020,BB1,"MARSHALL HMA WEAR CRSE, SG, TY I",93.0,TN,"PAULS CONCRETE, INC.",55-0484695,185.0,17205.0,2011,MINGO,1,7,17
23,23,1120702,7,1,SLIDE CORRECTION,115,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II 4""",8.0,TN,"THAXTON CONSTRUCTION COMPANY, INC., OF SISSONV...",55-0743840,150.0,1200.0,2011,KANAWHA,1,2,12
28,28,1120702,7,1,SLIDE CORRECTION,115,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II 4""",8.0,TN,MARKS DRILLING,61-1584805,220.0,1760.0,2011,KANAWHA,1,7,17
60,60,1114510,10,1,SLIP REPAIR,75,401002-020,AA1,"MARSHALL HMA WEAR CRSE, SG, TY I 1",40.0,TN,"THAXTON CONSTRUCTION COMPANY, INC., OF SISSONV...",55-0743840,400.0,16000.0,2011,ROANE,1,6,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,18479,1723402,25,1,Slip Repair,95,401002-020,BB1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",31.0,TN,"BEAR CONTRACTING, LLC",75-3079323,300.0,9300.0,2020,DODDRIDGE,9,3,93
18488,18488,2019000733,27,1,Construction of Piling Wall to stabilize roadway.,110,401001-020,DD1,"MARSHALL ASPHALT BASE CRSE, SG, TY I",32.0,TN,"VECELLIO & GROGAN, INC.",55-0345840,303.5,9712.0,2020,GREENBRIER,9,7,97
18565,18565,1801807,3,1,Roadway,140,401002-020,BB1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",20.0,TN,"ORDERS CONSTRUCTION COMPANY, INC.",55-0487806,470.0,9400.0,2020,MASON,9,4,94
18589,18589,2018000194,5,1,ROADWAY ITEMS,240,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",30.0,TN,"ORDERS CONSTRUCTION COMPANY, INC.",55-0487806,310.0,9300.0,2020,LINCOLN,9,3,93
18630,18630,2019000049,13,1,Embankment Failure and Shoulder Damage,90,401001-020,BB1,"MARSHALL ASPHALT BASE CRSE, SG, TY I",51.0,TN,MARKS DRILLING,61-1584805,195.0,9945.0,2020,LOGAN,9,9,99

In [6]:
year_count = results.groupby('Year').nunique()

In [7]:
year_count.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,counties,firstdigit,seconddigit,firsttwo
Year,,,,,,,,,,,,,,,,,,,
2011,686,168,36,2,68,69,30,17,45,240,2,54,54,323,622,50,4,10,40
2013,752,183,36,3,73,70,28,21,28,243,2,57,57,329,679,57,4,10,40
2016,803,214,48,4,78,57,17,14,17,276,2,44,44,367,703,55,4,10,40
2015,810,222,47,4,69,64,16,13,19,303,2,50,50,349,718,57,4,10,40
2014,935,220,39,5,100,72,26,27,38,289,2,56,56,372,773,61,4,10,40
2020,960,153,40,4,60,81,18,12,18,182,3,68,68,420,706,51,4,10,40
2012,971,200,42,3,84,90,27,30,36,282,1,69,69,379,802,56,4,10,40
2017,1003,263,52,9,138,75,20,12,20,274,2,57,57,437,797,55,4,10,40
2018,1028,220,59,7,89,82,20,11,20,282,2,54,54,469,844,55,4,10,40
2019,1090,212,50,3,62,68,23,8,22,234,2,64,64,447,844,50,4,10,40

In [8]:
county_count = results.groupby('counties').nunique()

In [9]:
county_count.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,firstdigit,seconddigit,firsttwo
counties,,,,,,,,,,,,,,,,,,,
MCDOWELL WYOMING,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
GREENBRIER MONROE,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
CABELL MASON,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
HARRISON LEWIS MARION,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
DISTRICT 2,2,1,1,1,1,1,1,1,1,1,1,2,2,2,2,1,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BRAXTON,299,59,31,1,44,42,20,7,31,86,2,31,31,183,261,10,4,10,35
MARSHALL,311,58,27,3,19,54,22,13,35,101,1,30,30,189,286,10,4,10,39
MONONGALIA,315,73,32,4,30,56,16,11,32,98,2,36,36,212,297,10,4,10,40
LINCOLN,349,78,37,9,53,50,12,15,22,78,1,36,36,150,250,10,4,10,40
CABELL,400,89,37,2,37,51,23,15,35,107,2,42,42,153,284,10,4,10,39

In [10]:
company_count = results.groupby('Vendor Name').nunique()

In [11]:
company_count.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Vendor Name,,,,,,,,,,,,,,,,,,,
"A & A SAFETY, INC.",1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"OLYMPUS PAINTING CONTRACTORS, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"SOUTHERN ROAD & BRIDGE, LLC",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"DIAMOND SURFACE, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
THE TRUESDELL CORPORATION,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"ALAN STONE CO., INC.",349,257,47,3,94,44,16,13,36,130,1,1,194,313,10,46,4,10,40
"ROCK FORGE BRIDGE CO., LLC",435,296,53,3,79,65,12,12,15,156,1,1,128,348,5,52,4,10,40
"MOUNTAINEER CONTRACTORS, INC.",472,334,54,9,143,95,27,17,61,385,2,1,246,457,10,51,4,10,40
J. F. ALLEN COMPANY,630,437,51,4,199,90,27,12,59,509,2,1,484,629,10,38,4,10,40
"WEST VIRGINIA PAVING, INC.",1251,841,56,10,315,64,47,28,78,879,2,1,228,1196,10,50,4,10,40

In [12]:
item_count = results.groupby('Item Description').nunique()

In [13]:
item_count.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Item Description,,,,,,,,,,,,,,,,,,,
"MARSHALL ASPHALT SKID PVT, S, TY I",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
SURFACE MOUNT BREAKAWAY DEVICE,2,2,2,2,2,2,1,0,2,1,2,2,2,2,1,2,1,2,2
"SUPERPAVE HOT-MIX ASPHALT BASE COURSE, STONE OR GRAVEL, TYPE 37.5",2,1,1,1,1,1,1,1,1,1,2,2,2,2,1,1,2,2,2
"MARSHALL HMA WEAR CRSE, SG, TY 1",3,1,1,1,1,1,1,1,1,1,3,3,3,3,1,1,3,2,3
"MARSHALL HMA BASE CRSE, SG, TY II 4""",3,2,2,1,1,2,1,1,2,1,3,3,3,3,2,1,2,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"MARSHALL HMA BASE CRSE, SG, TY II",495,155,35,3,63,56,1,9,146,1,54,54,260,430,4,50,4,10,40
"MARSHALL HMA BASE CRSE, SG, TY I",534,170,35,5,80,59,2,7,157,1,64,64,243,460,4,50,4,10,40
"MARSHALL ASPHALT BASE CRSE, SG, TY II",850,261,55,12,94,70,1,10,166,1,71,71,375,635,4,52,4,10,40
"MARSHALL ASPHALT BASE CRSE, SG, TY I",915,287,55,6,108,65,1,7,213,1,73,73,389,703,4,55,4,10,40
"MARSHALL ASPHALT WEAR CRSE, SG, TY I",917,265,53,7,98,63,2,7,177,2,62,62,431,708,4,51,4,10,40

In [14]:
dff= pd.read_csv("WV-ashpalt items.csv")

In [15]:
dff

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
0,0,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"JEFFERSON ASPHALT PRODUCTS CO., INC.",55-0492296,72.0,50976.0,2011,BERKELEY,5,0,50
1,1,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"BILCO CONSTRUCTION CO., INC.",62-1345425,85.0,60180.0,2011,BERKELEY,6,0,60
2,2,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"A.L.L. CONSTRUCTION, INC.",55-0700300,76.0,53808.0,2011,BERKELEY,5,3,53
3,3,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"MOUNTAINEER CONTRACTORS, INC.",55-0481221,83.0,58764.0,2011,BERKELEY,5,8,58
4,4,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"KINSLEY CONSTRUCTION, INC.",23-1689806,84.0,59472.0,2011,BERKELEY,5,9,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18640,18640,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,MARKS DRILLING,61-1584805,235.0,4465.0,2020,LOGAN,4,4,44
18641,18641,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,"BBR DRILLING COMPANY, INC.",20-3991479,240.0,4560.0,2020,LOGAN,4,5,45
18642,18642,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,"ROCK FORGE BRIDGE CO., LLC",81-2948002,260.0,4940.0,2020,LOGAN,4,9,49
18643,18643,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"WEST VIRGINIA PAVING, INC.",55-0570769,109.0,132871.0,2020,WAYNE,1,3,13
18644,18644,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"BEAR CONTRACTING, LLC",75-3079323,135.0,164565.0,2020,WAYNE,1,6,16

In [16]:
#overusage of 0,4,5in the first test
dff0= dff.loc[dff['seconddigit']==0]
dff4= dff.loc[dff['seconddigit']==4]
dff5= dff.loc[dff['seconddigit']==5]

In [17]:
dff

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
0,0,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"JEFFERSON ASPHALT PRODUCTS CO., INC.",55-0492296,72.0,50976.0,2011,BERKELEY,5,0,50
1,1,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"BILCO CONSTRUCTION CO., INC.",62-1345425,85.0,60180.0,2011,BERKELEY,6,0,60
2,2,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"A.L.L. CONSTRUCTION, INC.",55-0700300,76.0,53808.0,2011,BERKELEY,5,3,53
3,3,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"MOUNTAINEER CONTRACTORS, INC.",55-0481221,83.0,58764.0,2011,BERKELEY,5,8,58
4,4,413848,1,1,"GRADE, DRAIN & PAVE",250,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II",708.0,TN,"KINSLEY CONSTRUCTION, INC.",23-1689806,84.0,59472.0,2011,BERKELEY,5,9,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18640,18640,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,MARKS DRILLING,61-1584805,235.0,4465.0,2020,LOGAN,4,4,44
18641,18641,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,"BBR DRILLING COMPANY, INC.",20-3991479,240.0,4560.0,2020,LOGAN,4,5,45
18642,18642,2019000049,13,1,Embankment Failure and Shoulder Damage,110,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",19.0,TN,"ROCK FORGE BRIDGE CO., LLC",81-2948002,260.0,4940.0,2020,LOGAN,4,9,49
18643,18643,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"WEST VIRGINIA PAVING, INC.",55-0570769,109.0,132871.0,2020,WAYNE,1,3,13
18644,18644,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"BEAR CONTRACTING, LLC",75-3079323,135.0,164565.0,2020,WAYNE,1,6,16

In [18]:
df1

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
12,12,1033507,3,1,RESURFACING,90,401007-020,BB1,"MARSHALL SCRATCH CRSE, SG, TY I",1165.0,TN,W & L CONSTRUCTION AND PAVING INC.,54-1069645,89.5,104267.5,2011,JEFFERSON,1,0,10
21,21,1021601,4,1,ROADWAY,167,401002-020,BB1,"MARSHALL HMA WEAR CRSE, SG, TY I",93.0,TN,"PAULS CONCRETE, INC.",55-0484695,185.0,17205.0,2011,MINGO,1,7,17
23,23,1120702,7,1,SLIDE CORRECTION,115,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II 4""",8.0,TN,"THAXTON CONSTRUCTION COMPANY, INC., OF SISSONV...",55-0743840,150.0,1200.0,2011,KANAWHA,1,2,12
28,28,1120702,7,1,SLIDE CORRECTION,115,401001-023,AA1,"MARSHALL HMA BASE CRSE, SG, TY II 4""",8.0,TN,MARKS DRILLING,61-1584805,220.0,1760.0,2011,KANAWHA,1,7,17
60,60,1114510,10,1,SLIP REPAIR,75,401002-020,AA1,"MARSHALL HMA WEAR CRSE, SG, TY I 1",40.0,TN,"THAXTON CONSTRUCTION COMPANY, INC., OF SISSONV...",55-0743840,400.0,16000.0,2011,ROANE,1,6,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18629,18629,2019000049,13,1,Embankment Failure and Shoulder Damage,90,401001-020,BB1,"MARSHALL ASPHALT BASE CRSE, SG, TY I",51.0,TN,"ALAN STONE CO., INC.",31-4444098,214.0,10914.0,2020,LOGAN,1,0,10
18631,18631,2019000049,13,1,Embankment Failure and Shoulder Damage,90,401001-020,BB1,"MARSHALL ASPHALT BASE CRSE, SG, TY I",51.0,TN,"BBR DRILLING COMPANY, INC.",20-3991479,200.0,10200.0,2020,LOGAN,1,0,10
18632,18632,2019000049,13,1,Embankment Failure and Shoulder Damage,90,401001-020,BB1,"MARSHALL ASPHALT BASE CRSE, SG, TY I",51.0,TN,"ROCK FORGE BRIDGE CO., LLC",81-2948002,215.0,10965.0,2020,LOGAN,1,0,10
18643,18643,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"WEST VIRGINIA PAVING, INC.",55-0570769,109.0,132871.0,2020,WAYNE,1,3,13
18644,18644,2019000220,14,1,Resurface,95,402001-020,BB1,"MARSHALL ASPHALT SKID PVT, SG, TY I",1219.0,TN,"BEAR CONTRACTING, LLC",75-3079323,135.0,164565.0,2020,WAYNE,1,6,16

In [19]:
dff= pd.read_csv("WV-ashpalt items.csv")

In [20]:
#overusage of 0,4,5 in the first test
dff0= dff.loc[dff['firstdigit']==0]
dff4= dff.loc[dff['firstdigit']==4]
dff5= dff.loc[dff['firstdigit']==5]

In [21]:
result2 = [dff0, dff4, dff5]
results2 = pd.concat(result2)

In [22]:
results2

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
11054,11054,1620231,27,1,NFF0131 CR 35 Sweetwater Road,55,401001-023,BB1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",4.0,TN,"WAYNE CONCRETE CO., INC.",55-0599845,0.01,0.04,2017,WAYNE,0,.,0
11057,11057,1620231,27,2,NFF0133 CR 41/1 Turkey Creek Road,120,401001-023,DD1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",54.0,TN,"WAYNE CONCRETE CO., INC.",55-0599845,0.01,0.54,2017,WAYNE,0,.,0
11096,11096,1604331,37,1,CR 15 BIG UGLY CREEK RD,35,401001-023,AA1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",5.0,TN,"WAYNE CONCRETE CO., INC.",55-0599845,0.01,0.05,2017,LINCOLN,0,.,0
11100,11100,1604331,37,2,CR 15/3 ROSEWOOD RD,85,401001-023,CC1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",5.0,TN,"WAYNE CONCRETE CO., INC.",55-0599845,0.01,0.05,2017,LINCOLN,0,.,0
11104,11104,1604331,37,4,CR 42 LAUREL CREEK RD,155,401001-023,FF1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",1.0,TN,"WAYNE CONCRETE CO., INC.",55-0599845,0.01,0.01,2017,LINCOLN,0,.,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18627,18627,2018001403,12,1,Piling Wall,105,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",24.0,TN,"ROCK FORGE BRIDGE CO., LLC",81-2948002,240.00,5760.00,2020,LOGAN,5,7,57
18634,18634,2019000049,13,1,Embankment Failure and Shoulder Damage,100,401001-023,CC1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",26.0,TN,"ALAN STONE CO., INC.",31-4444098,225.00,5850.00,2020,LOGAN,5,8,58
18635,18635,2019000049,13,1,Embankment Failure and Shoulder Damage,100,401001-023,CC1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",26.0,TN,MARKS DRILLING,61-1584805,205.00,5330.00,2020,LOGAN,5,3,53
18636,18636,2019000049,13,1,Embankment Failure and Shoulder Damage,100,401001-023,CC1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",26.0,TN,"BBR DRILLING COMPANY, INC.",20-3991479,205.00,5330.00,2020,LOGAN,5,3,53
18637,18637,2019000049,13,1,Embankment Failure and Shoulder Damage,100,401001-023,CC1,"MARSHALL ASPHALT BASE CRSE, SG, TY II",26.0,TN,"ROCK FORGE BRIDGE CO., LLC",81-2948002,225.00,5850.00,2020,LOGAN,5,8,58

In [23]:
year_count2 = results2.groupby('Year').nunique()
year_count2.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,counties,firstdigit,seconddigit,firsttwo
Year,,,,,,,,,,,,,,,,,,,
2011,196,70,28,2,40,45,22,15,34,75,1,45,45,117,178,37,2,10,20
2013,219,84,32,3,41,52,22,12,23,91,2,47,47,128,198,42,2,10,20
2014,273,104,36,2,52,48,20,19,25,108,1,48,48,149,238,46,2,10,20
2015,282,114,38,2,43,47,13,11,15,110,2,38,38,162,231,43,2,10,20
2016,315,106,39,3,47,50,13,11,13,113,1,36,36,175,238,45,2,10,20
2012,327,107,35,3,54,62,23,21,28,125,1,57,57,172,258,44,2,10,20
2018,336,135,52,6,57,63,20,9,22,135,2,40,40,219,291,48,3,11,21
2019,368,123,32,3,43,50,18,7,17,110,2,42,42,204,272,41,2,10,20
2017,394,140,49,9,96,63,14,13,14,124,2,44,44,180,280,40,3,11,21
2020,394,91,33,3,46,53,17,7,17,100,2,52,52,225,301,42,3,11,21

In [24]:
county_count2 = results2.groupby('counties').nunique()
county_count2.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,firstdigit,seconddigit,firsttwo
counties,,,,,,,,,,,,,,,,,,,
MCDOWELL WYOMING,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"BOONE, KANAWHA",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
GREENBRIER MONROE,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"FAYETTE, RALEIGH",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FAYETTE RALEIGH,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MARSHALL,111,39,23,3,16,36,15,11,23,46,2,23,23,85,97,10,2,10,19
MONONGALIA,114,32,23,4,19,36,13,7,24,45,2,26,26,102,108,9,2,10,20
WAYNE,198,56,34,7,43,34,12,10,21,48,1,23,23,87,124,10,3,11,21
LINCOLN,199,56,34,8,53,47,9,16,20,55,1,30,30,89,125,10,3,11,21
CABELL,204,51,32,2,29,35,14,11,23,52,1,26,26,93,128,8,3,11,21

In [25]:
company_count2 = results2.groupby('Vendor Name').nunique()
company_count2.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Vendor Name,,,,,,,,,,,,,,,,,,,
"A & A SAFETY, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
COVE RUN CONTRACTING LLC,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
GREEN RIVER GROUP LLC,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"HEETER CONSTRUCTION, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"INDEPENDENCE EXCAVATING, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"ALAN STONE CO., INC.",145,123,39,2,48,38,10,8,23,55,1,1,107,128,10,33,2,10,20
"ROCK FORGE BRIDGE CO., LLC",160,138,39,2,40,52,9,7,11,74,1,1,82,122,5,39,2,10,20
"MOUNTAINEER CONTRACTORS, INC.",194,159,43,7,77,73,20,14,44,156,2,1,129,186,10,36,2,10,20
J. F. ALLEN COMPANY,202,177,45,5,101,57,19,11,38,178,2,1,190,202,10,28,2,10,20
"WEST VIRGINIA PAVING, INC.",360,324,51,7,147,58,37,25,60,284,2,1,123,348,10,44,2,10,20

In [26]:
item_count2 = results2.groupby('Item Description').nunique()
item_count2.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Item Description,,,,,,,,,,,,,,,,,,,
"MARSHALL HOT-MIX ASPHALT BASE COURSE, STONE OR GRAVEL, TYPE I",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"MARSHALL HOT-MIX ASPHALT WEARING COURSE, SLAG, TYPE 1",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"MARSHALL HOT-MIX ASPHALT SKID RESISTANT PAVEMENT, STONE OR GRAVEL, TYPE I",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"SUPERPAVE HOT-MIX ASPHALT SKID RESISTANT PAVEMENT, STONE OR GRAVEL, TYPE 12.5",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"SUPERPAVE ASPHALT BASE CRSE, TY 19",1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"MARSHALL HMA BASE CRSE, SG, TY II",148,62,30,2,39,34,1,5,59,1,43,43,100,137,4,33,2,10,20
"MARSHALL ASPHALT P/L CRSE, SG",175,78,41,5,44,37,1,9,51,1,30,30,117,137,4,31,3,11,21
"MARSHALL ASPHALT BASE CRSE, SG, TY I",254,111,40,4,55,46,1,7,95,1,43,43,157,214,4,43,3,11,21
"MARSHALL ASPHALT BASE CRSE, SG, TY II",340,127,43,10,74,57,1,10,85,1,42,42,182,240,4,36,3,11,21
"MARSHALL ASPHALT WEAR CRSE, SG, TY I",349,131,43,6,59,42,2,8,76,2,47,47,199,238,4,41,3,11,21

In [27]:
#overusage of 1,7,8,9 in the first test
dff11= dff.loc[df['firsttwo']==11]
dff13= dff.loc[df['firsttwo']==13]
dff15= dff.loc[df['firsttwo']==15]
dff18= dff.loc[df['firsttwo']==18]
dff36= dff.loc[df['firsttwo']==36]
dff60= dff.loc[df['firsttwo']==60]
dff70= dff.loc[df['firsttwo']==70]
dff72= dff.loc[df['firsttwo']==72]
dff75= dff.loc[df['firsttwo']==75]
dff84= dff.loc[df['firsttwo']==84]
dff90= dff.loc[df['firsttwo']==90]

In [28]:
result3 = [dff11, dff13, dff15, dff18, dff36, dff60, dff70, dff72, dff75, dff84, dff90]
results3 = pd.concat(result3)

In [29]:
results3

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
136,136,1117426,3,1,"GRADE, DRAIN & PAVE",285,401001-050,CC1,"SUPERPAVE HMA BASE CRSE, SG, TY 37.5",1277.0,TN,"WEST VIRGINIA PAVING, INC.",55-0570769,88.00,112376.0,2011,HARDY,1,1,11
199,199,411947,5,1,"GRADE, DRAIN & PAVE",345,401001-020,AA1,"MARSHALL HMA BASE CRSE, SG, TY I",1321.0,TN,"JEFFERSON ASPHALT PRODUCTS CO., INC.",55-0492296,85.00,112285.0,2011,HARDY,1,1,11
244,244,1021127,7,1,DRAINAGE,195,402001-040,DD1,"SUPERPAVE HMA SKID PVT, SG, TY 9.5",54.0,TN,"HOKE BROTHERS CONTRACTING, INC.",55-0778477,220.00,11880.0,2011,KANAWHA,1,1,11
247,247,1021127,7,1,DRAINAGE,200,402001-041,DD2,"SUPERPAVE HMA SKID PVT, S, TY 9.5",54.0,TN,"ORDERS CONSTRUCTION COMPANY, INC.",55-0487806,220.00,11880.0,2011,KANAWHA,1,1,11
251,251,914031,8,1,"GRADE, DRAIN & PAVE",165,401001-020,AA1,"MARSHALL HMA BASE CRSE, SG, TY I",66.0,TN,"ORDERS CONSTRUCTION COMPANY, INC.",55-0487806,180.00,11880.0,2011,LINCOLN,1,1,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17923,17923,2018000131,3,1,ROADWAY ITEMS,285,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",51.0,TN,"BUSH & BURCHETT, INC.",61-0718956,178.00,9078.0,2020,MINGO,9,0,90
17925,17925,2018000131,3,1,ROADWAY ITEMS,285,401002-020,DD1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",51.0,TN,"ALL CONCRETE, INC.",83-0989025,178.00,9078.0,2020,MINGO,9,0,90
17988,17988,2019000091R1,16,1,Resurfacing,15,410007-060,NaN,"SUPERPAVE ASPHALT SKID PVT, TY 12.5",58100.0,SY,"BELT PAVING, INC.",52-1860597,15.55,903455.0,2020,HARDY,9,0,90
18158,18158,1730499,1,1,"GRADE, DRAIN & PAVE",370,401002-020,CC1,"MARSHALL ASPHALT WEAR CRSE, SG, TY I",7793.0,TN,"VECELLIO & GROGAN, INC.",55-0345840,115.70,901650.1,2020,ROANE,9,0,90
18363,18363,2019000878,9,1,ALICE RD,135,401003-001,CC1,"MARSHALL ASPHALT P/L CRSE, SG",30.0,TN,"THAXTON CONSTRUCTION COMPANY, INC., OF SISSONV...",55-0743840,300.00,9000.0,2020,GILMER,9,0,90

In [30]:
year_count3 = results3.groupby('Year').nunique()
year_count3.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,counties,firstdigit,seconddigit,firsttwo
Year,,,,,,,,,,,,,,,,,,,
2011,269,122,33,2,52,63,25,15,39,151,2,46,46,162,236,46,6,8,11
2016,279,152,45,4,56,51,16,14,16,188,2,38,38,170,238,50,6,8,11
2015,313,157,44,3,53,50,15,10,18,188,2,41,41,181,266,55,6,8,11
2013,322,135,35,3,52,68,24,18,24,177,2,50,50,175,290,54,6,8,11
2014,353,157,37,4,80,63,24,24,33,190,2,41,41,187,278,57,6,8,11
2018,393,165,54,3,71,67,17,9,19,192,2,46,46,236,317,53,6,8,11
2012,400,160,40,3,70,81,25,24,34,209,1,56,56,190,317,53,6,8,11
2017,423,188,50,9,94,64,17,9,17,194,2,47,47,214,313,51,6,8,11
2019,424,167,44,3,56,66,22,8,22,187,2,46,46,246,334,49,6,8,11
2020,436,137,38,4,54,74,18,9,18,161,3,56,56,217,294,48,6,8,11

In [31]:
county_count3 = results3.groupby('counties').nunique()
county_count3.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,firstdigit,seconddigit,firsttwo
counties,,,,,,,,,,,,,,,,,,,
HARRISON LEWIS MARION,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"MONROE GILES, VA",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
FAYETTE RALEIGH,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"BOONE, KANAWHA",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
MCDOWELL WYOMING,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
MARSHALL,117,48,24,3,16,50,18,12,27,77,1,19,19,90,106,9,6,8,11
MONONGALIA,120,53,28,2,21,42,13,10,26,69,2,21,21,100,112,10,6,8,11
WAYNE,136,51,31,4,30,31,14,9,21,59,2,25,25,73,94,9,6,8,11
LINCOLN,152,63,34,9,42,42,9,14,18,66,1,27,27,81,109,10,6,8,11
CABELL,178,62,31,2,31,45,18,12,27,72,1,37,37,77,107,10,6,8,11

In [32]:
company_count3 = results3.groupby('Vendor Name').nunique()
company_count3.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Item Description,Quantity,Unit,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Vendor Name,,,,,,,,,,,,,,,,,,,
"MERIDIAN COMMUNICATIONS & CONST, INC",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"DIAMOND SURFACE, INC.",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"CHESTER BROSS CONSTRUCTION COMPANY/C.B.EQUIPMENT, INC",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
M. P. DORY CO.,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"MCCLANAHAN CONSTRUCTION COMPANY, LLC",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"BEAR CONTRACTING, LLC",136,115,37,3,34,49,20,8,35,126,2,1,79,136,10,32,6,8,11
"ROCK FORGE BRIDGE CO., LLC",166,145,48,1,44,49,10,5,12,103,1,1,80,135,5,42,6,8,11
"MOUNTAINEER CONTRACTORS, INC.",190,157,40,9,71,70,24,12,45,167,2,1,126,179,10,38,6,8,11
J. F. ALLEN COMPANY,233,204,41,3,111,64,21,10,45,221,2,1,211,233,10,32,6,8,11
"WEST VIRGINIA PAVING, INC.",495,414,51,6,167,51,42,24,67,427,2,1,142,476,10,47,6,8,11

In [33]:
item_count3 = results3.groupby('Item Description').nunique()
item_count3.sort_values('Unnamed: 0')

,Unnamed: 0,Proposal,Call Order,Section Number,Section Description,Line,Item,Alternate Code,Quantity,Unit,Vendor Name,Bidder ID,Unit Price,Extension,Year,counties,firstdigit,seconddigit,firsttwo
Item Description,,,,,,,,,,,,,,,,,,,
"MARSHALL SCRATCH CRSE, SG, TY I (Shoulder)",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"SUPERPAVE SKID PVT, TY 12.5",1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
"MARSHALL WEAR CRSE, SG, TY I (Shoulder)",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"MARSHALL HOT-MIX ASPHALT SKID RESISTANT PAVEMENT, STONE OR GRAVEL, TYPE I",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
"MARSHALL WMA WEAR CRSE, SG, TY III",1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"MARSHALL HMA BASE CRSE, SG, TY II",201,114,33,3,48,51,1,8,110,1,42,42,129,172,4,42,6,8,11
"MARSHALL HMA BASE CRSE, SG, TY I",214,119,32,4,58,52,1,6,113,1,51,51,118,174,4,43,6,8,11
"MARSHALL ASPHALT BASE CRSE, SG, TY II",304,184,49,8,62,55,1,5,129,1,50,50,174,225,4,47,6,8,11
"MARSHALL ASPHALT BASE CRSE, SG, TY I",370,199,48,6,80,58,1,6,156,1,50,50,193,274,4,50,6,8,11
"MARSHALL ASPHALT WEAR CRSE, SG, TY I",385,205,53,6,78,52,1,8,137,1,49,49,214,273,4,47,6,8,11