In [1]:
import pandas as pd

In [2]:
df= pd.read_excel('WV_2020.xlsx')

In [3]:
dff= df[['Extension']]

In [4]:
dff

      Extension
0          0.21
1       6431.46
2       6777.33
3       2226.00
4       5250.00
...         ...
2035    4465.00
2036    4560.00
2037    4940.00
2038  132871.00
2039  164565.00

[2040 rows x 1 columns]

In [5]:
dff2= dff.describe()

In [6]:
dff2

          Extension
count  2.040000e+03
mean   1.206699e+05
std    3.113116e+05
min    2.100000e-01
25%    7.425000e+03
50%    1.698250e+04
75%    9.284007e+04
max    3.381101e+06

In [7]:
dff3= dff.mode()

In [8]:
dff3

   Extension
0     6000.0