In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('NJ_all-csv (2).csv')

In [3]:
dff= df[['Extension']]

In [4]:
dff

       Extension
0      728810.46
1      732280.50
2      695538.90
3      775656.00
4      774533.34
...          ...
29688        NaN
29689        NaN
29690        NaN
29691        NaN
29692        NaN

[29693 rows x 1 columns]

In [5]:
dff2= dff.describe()

In [6]:
dff2

          Extension
count  8.920000e+03
mean   6.949273e+05
std    1.102441e+06
min    1.000000e+00
25%    5.559114e+04
50%    2.649647e+05
75%    8.948499e+05
max    1.488305e+07

In [7]:
dff3= dff.mode()

In [8]:
dff3

   Extension
0    10000.0